/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


html {
    box-sizing: border-box;
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0;
  
}

h2{
  text-align: center;
  
}

header{
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
}

main {
padding: 5%;

}

section{
  width: 100%;
  margin: 0%;
border-radius: 50%;
  box-shadow: 0 0 50px #ccc;

}

footer {
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
}


ol{
  list-style-type: upper-roman;
}

li{
  margin: 5%;
}


.circle-ui{
width: 90%;
margin: 3%;
border-radius: 20%;
padding: 1%;
background-image: url("bg.gif");
background-position: center;
background-size: cover;
box-shadow: 0 0 50px #ccc;
}





.portal{

  animation: yourAnimation 2s ease-in 1s 1 forwards;
  opacity: 0;
}

@keyframes yourAnimation {
  0%{
      
   
    
      transform: scale(0.0);
      opacity: 0;
  }

  100%{
 


      transform: scale(1);
      opacity: 1;
  }
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



  html {
    box-sizing: border-box;
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0;
  
}

h2{
  text-align: center;
  
}

header{
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
}

main {
padding: 5%;

}

footer {
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
}


ol{
  list-style-type: upper-roman;
}

li{
  margin: 5%;
}


.circle-ui{
width: 90%;
margin: 3%;
border-radius: 20%;
padding: 1%;
background-image: url("bg.gif");
background-position: center;
background-size: cover;
box-shadow: 0 0 50px #ccc;
}





.portal{

  animation: yourAnimation 2s ease-in 1s 1 forwards;
  opacity: 0;
}

@keyframes yourAnimation {
  0%{
      
   
    
      transform: scale(0.0);
      opacity: 0;
  }

  100%{
 


      transform: scale(1);
      opacity: 1;
  }
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {




  html {
    box-sizing: border-box;
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0;
  
}

h2{
  text-align: center;
  
}

header{
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
  margin-bottom: 5px;

}

main {
padding: 5%;
margin-bottom: 25px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
 
  padding: 10px;
}

section{
  width: 100%;
  margin: 0%;
border-radius: 50%;
  box-shadow: 0 0 50px #ccc;

}

 footer {
  background-image: url("header.gif");
  border-radius: 20%;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 50px #ccc;
  margin-bottom: 10px;
} 


ol{
  list-style-type: upper-roman;
}

li{
  margin: 5%;
}


.circle-ui{
width: 90%;
margin: 10%;
border-radius: 20%;
padding: 1%;
background-image: url("bg.gif");
background-position: center;
background-size: cover;
box-shadow: 0 0 50px #ccc;
}





.portal{

  animation: yourAnimation 2s ease-in 1s 1 forwards;
  opacity: 0;
}

@keyframes yourAnimation {
  0%{
      
   
    
      transform: scale(0.0);
      opacity: 0;
  }

  100%{
 


      transform: scale(1);
      opacity: 1;
  }
}
  
}